.auth-container{
  width:300px;
  margin:120px auto;
  display:flex;
  flex-direction:column;
  gap:12px;
}

input{
  padding:10px;
}

button{
  padding:10px;
  background:#222;
  color:white;
  border:none;
}